## Exercise 4.6

### Contents
#### 1. Merge orders_clean.csv and order_products_prior.csv
#### 2. Export to .pkl

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Create path
path = r'/Users/anfran/Documents/Instacart Basket Analysis'

In [5]:
#Import order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [6]:
#Import orders_clean
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'), index_col = False)

In [7]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,9999999.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords.shape

(3421083, 8)

In [14]:
# Merge both DataFrames using inner join

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [15]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,9999999.0,196.0,1.0,0.0,both
1,0,0,2539329,1,1,2,8,9999999.0,14084.0,2.0,0.0,both
2,0,0,2539329,1,1,2,8,9999999.0,12427.0,3.0,0.0,both
3,0,0,2539329,1,1,2,8,9999999.0,26088.0,4.0,0.0,both
4,0,0,2539329,1,1,2,8,9999999.0,26405.0,5.0,0.0,both

In [16]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [20]:
#Drop Unnamed Columns
df_merged_large.drop(df_merged_large.columns[df_merged_large.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,9999999.0,196.0,1.0,0.0,both
1,2539329,1,1,2,8,9999999.0,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,9999999.0,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,9999999.0,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,9999999.0,26405.0,5.0,0.0,both

In [22]:
df_merged_large.shape

(32640698, 10)

In [24]:
#Export to .pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))